## <div align = right> 2020-2021 </div>
### <center> Premiere NSI - Les Listes </center>
### <center> Activité 2: Applications et mise en œuvre de listes</center>
---
### 1. Itérations
Nous avons vu que la structure itérative (`for ... in ... :`) permettait d'énumérer les éléments d'un ensemble. De fait, une liste étant un ensemble d'éléments indexés, l'itération sur une liste apparait comme une évidence. 

- **Exécuter les deux scripts ci-dessous et analyser les variables accessibles à l'affichage:**

In [ ]:
ma_liste = [42,84,'orwell']
print(ma_liste)

In [ ]:
ma_liste = [42,84,'orwell']
for un_element in ma_liste:
    print(ma_liste.index(un_element), un_element)

In [ ]:
ma_liste = [42,84,'orwell']
for un_indice in range(len(ma_liste)):
    print(un_indice, ma_liste[un_indice])

- **Que renvoie `len(ma_liste)`?**

---
### <center>  Exercices</center>
#### 1.  A partir de la liste aléatoire générée, afficher une liste traitée contenant seulement les éléments inférieurs à 50.

In [ ]:
from random import randint
liste_alea = []

for n in range(10):
    liste_alea.append(randint(0,100))

liste_traitee = []   
# à compléter
        
print('liste aléatoire:',liste_alea)
print('liste traitée:',liste_traitee)

---
#### 2.  Créer une fonction prenant un entier en argument et affichant une étoile en face des multiples de cet argument

In [ ]:
liste_entiers = []
n = 0
while len(liste_entiers) < 100:
    liste_entiers.append(n)
    n += 1
def recherche_multiples(n):    
    # à compléter

recherche_multiples(3)

---
Il existe une instruction native permettant de détecter la présence d'un élément dans une liste en renvoyant une valeur booléenne `True / False`:

In [11]:
ma_liste = [42,84,'orwell']
print(84 in ma_liste)
print(1984 in ma_liste)

True
False

#### 3.  Sans l'utiliser,  réaliser une fonction prenant deux arguments (une liste et une valeur à détecter) qui renvoie un booléen similaire au fonctionnement décrit précédemment.

In [12]:
ma_liste = [42,84,'orwell']

def recherche(liste, valeur):
    # à compléter

print(recherche(ma_liste,84))
print(recherche(ma_liste,1984))

True
False

---
### <center>  Pour aller plus loin</center>

#### 4. Sans utiliser les fonctions `min()` ou `max()`, réaliser ces fonctions à partir du script amorcé:

In [16]:
from random import randint
liste_alea = []
while len(liste_alea) < 10:
    liste_alea.insert(0,randint(0,100))
print(liste_alea)

def maximum(liste):
    # à compléter

def minimum(liste):
    # à compléter

print('max:',maximum(liste_alea))
print('min:',minimum(liste_alea))

[75, 82, 25, 49, 43, 73, 62, 77, 23, 34]
max: 82
min: 23

#### 5. Sans utiliser la fonction `moy()`, réaliser une fonction prenant une liste d'entiers en argument et renvoyant la valeur moyenne. Votre fonction devra vérifier au préalable si la liste ne contient que des entiers de type `int`.

In [21]:
# rappel:
print(type('hello world'))
print(type('hello world') == str)

<class 'str'>
True

In [26]:
from random import randint
liste_alea = []
while len(liste_alea) < 10:
    liste_alea.insert(0,randint(0,100))
print(liste_alea)

def moyenne(liste):
    # à compléter
    
print('moy1:',moyenne(liste_alea))

ma_liste = [42,84,'orwell']
print('moy2:',moyenne(ma_liste))

[58, 100, 1, 98, 8, 12, 69, 25, 5, 22]
moy1: 39.8
moy2: None

---
### 2. Les tableaux
Le type tableau n'existe pas en Python. En revanche lorsqu'il est nécessaire de s'approcher de ce fonctionnement, nous utilisons une capacité intéressante des listes: **être considérée comme un contenant de valeurs** et ... **être elle-même une valeur**. Nous allons du donc mettre en place des listes de listes et assimiler ces constructions à des tableaux.

- **Essayer d'anticiper les résultats à afficher puis exécuter les deux scripts ci-dessous. Analyser les variables accessibles à l'affichage:**

In [27]:
ligne_1 = [1,2,3]
ligne_2 = [4,5,6]
ligne_3 = [7,8,9]

tableau = [ligne_1, ligne_2, ligne_3]

In [28]:
print(tableau)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
for ligne in tableau:
    print(ligne)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [30]:
print(tableau[2])

[7, 8, 9]

In [32]:
print(tableau[2][0])

7

---
### <center>  Exercices</center>
#### 6.  Créer une fonction qui génère un tableau à deux dimensions à partir des valeurs placées en arguments. Le contenu par défaut d'une case sera un point `'.'`

In [34]:
def creer_tab(ligne, colonne):
    tableau = []
    # à compléter
    
    
    
    
    return tableau

t = creer_tab(4,7)

for ligne in t:
    print(ligne)

['.', '.', '.', '.', '.', '.', '.']
['.', '.', '.', '.', '.', '.', '.']
['.', '.', '.', '.', '.', '.', '.']
['.', '.', '.', '.', '.', '.', '.']

---
#### 7.  Créer une fonction qui prend un entier en argument et renvoie la ligne correspondante du tableau

In [37]:
ligne_1 = [1,2,3]
ligne_2 = [4,5,6]
ligne_3 = [7,8,9]

tableau = [ligne_1, ligne_2, ligne_3]

def extract_ligne(valeur):
    # à compléter

print(extract_ligne(2))

[7, 8, 9]

---
#### 8.  Créer une fonction qui prend un entier en argument et renvoie la colonne correspondante du tableau

In [38]:
ligne_1 = [1,2,3]
ligne_2 = [4,5,6]
ligne_3 = [7,8,9]

tableau = [ligne_1, ligne_2, ligne_3]

def extract_colonne(valeur):
    # à compléter

print(extract_colonne(2))

[3, 6, 9]

---
#### 9.  Créer un script qui génère les tables de multiplications de 0 à 9 dans un tableau.

In [52]:
tables = []
# à compléter
    
for ligne in tables:
    print(ligne)

['00', '00', '00', '00', '00', '00', '00', '00', '00', '00']
['00', '01', '02', '03', '04', '05', '06', '07', '08', '09']
['00', '02', '04', '06', '08', '10', '12', '14', '16', '18']
['00', '03', '06', '09', '12', '15', '18', '21', '24', '27']
['00', '04', '08', '12', '16', '20', '24', '28', '32', '36']
['00', '05', '10', '15', '20', '25', '30', '35', '40', '45']
['00', '06', '12', '18', '24', '30', '36', '42', '48', '54']
['00', '07', '14', '21', '28', '35', '42', '49', '56', '63']
['00', '08', '16', '24', '32', '40', '48', '56', '64', '72']
['00', '09', '18', '27', '36', '45', '54', '63', '72', '81']

---
### <center>  Pour aller plus loin</center>
![grille bataille navale](http://wavrechain-thorez.etab.ac-lille.fr/files/2017/01/bataille-navale.jpg)
#### 10.  Créer une fonction qui génère une grille de bataille navale : 
- Réaliser un tableau de 11 par 11.
- Placer le caractère espace `' '` par défaut
- Placer les nombres de 1 à 10 en tête de colonnes
- Placer les lettres de A à J en tête de lignes

In [49]:
def afficher(grille):    
    for l in grille:
        print(l)

def generer_grille():
    # à compléter
    
    return grille

g = generer_grille()
afficher(g)

[' ', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['A', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['B', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['C', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['D', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['E', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['F', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['G', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['H', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['I', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['J', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

---
#### 11.  Créer une fonction prend les coordonnées d'une case et chaine de caracteres et place une croix dans la case correspondante de la grille  : 
- la fonction `extraire(coordonnees)` doit générer un couple d'entiers correspondant aux indices de ligne et de colonne
- la fonction `modifier(grille)` place une croix `'X'` si celle-ci est vide.

In [50]:
def extraire(coordonnees):
    # à compléter
    
def modifier(grille):
    # à compléter

g = modifier(g)
afficher(g)

saisir une case: d4
[' ', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['A', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['B', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['C', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['D', ' ', ' ', ' ', 'X', ' ', ' ', ' ', ' ', ' ', ' ']
['E', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['F', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['G', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['H', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['I', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['J', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']